.blog-heading {
    text-align: center;
    padding: 0 40px;
    margin-top: 30px;

    .menu-icon {
        font-size: 1.5em;
        position: fixed;
        top: 15px;
        left: 15px;
        z-index: 1;
        color: color("link");

        &:visited {
            color: color("link");
        }
    }

    img {
        display: none;
        height: 150px;
        width: 150px;
        margin: 0 auto;
    }

    h1,
    h2 {
        display: none;
        font-family: font("blog-heading");
        color: color("blog-heading");
        font-weight: normal;
    }

    @media(min-width: 660px) {
        img,
        h1,
        h2 {
            display: block;
        }
    }
}

.page,
.posts {
    @include span-columns(12);

    @media(min-width: 800px) {
        @include span-columns(10);
        @include shift(1);
    }
}

.post {
    &.article .post-title a::after,
    &.tutorial .post-title a::after,
    &.video  .post-title a::after {
        font-family: "FontAwesome";
        margin-right: .5em;
        text-decoration: none;
        float: right;
        opacity: .5;
    }

    .post-title {
        font-size: 2em;
        margin: 0;
        text-transform: uppercase;

        @media (min-width: 400px) {
            font-size: 3em;
        }

        @media (min-width: 700px) {
            font-size: 4em;
        }

        @media (min-width: 800px) {
            font-size: 5em;
        }
    }
}

.post-header {
    margin-bottom: 35px;
    text-align: center;

    h1 a,
    h1 a:visited {
        color: color("post-heading");
    }
}

.post-meta {
    list-style: none;
    margin: 0;
    padding: 0;

    .author {
        font-size: 1.2em;
        margin-bottom: 10px;

        img {
            vertical-align: text-bottom;
            margin-right: 5px;
        }

        @media (min-width: 660px) {
            display: none;
        }
    }

    .date,
    .permalink {
        display: inline;
    }

    a {
        color: color("copy");
        text-decoration: none;
        transition: all .2s ease;
    }

    .date span::before {
        content: "\f017";
        font-family: "FontAwesome";
        margin-right: .2em;
        margin-left: .2em;
    }

    .permalink a::before {
        content: "\f0c1";
        font-family: "FontAwesome";
        margin-left: 1em;
        margin-right: .5em;
    }

    .permalink:hover {
        a {
            color: color("purple");
        }

        a::before {
            color: color("green");
        }
    }

    .category {
        &::before {
            content: "\f02b";
            font-family: "FontAwesome";
            font-size: .9em;
            margin-right: .5em;
        }

        &.single::before {
            content: "\f02b";
        }

        &.multiple::before {
            content: "\f02c";
        }

        a::before {
            content: "#";
        }

        a {
            font-size: .95em;
        }
    }

    .category:hover {
        a {
            color: color("purple");
        }

        &::before,
        &::before {
            color: color("green");
        }
    }
}

.post-content {
    @include pad();
    background-color: opacify("white", 50);
}

.post-image {
    @include row();
    @include span-columns(12);
    @include omega();
}
