<div class="sidebar">
  <div class="branding">
    <img src="../assets/images/ava.png" />
    <h1>Lodybo</h1>
  </div>

  <ul class="menu">
    <li>
        <h2>
            <a class="about" href="page.php">About me</a>
        </h2>
    </li>
    <li>
        <h2>
            <a class="writings" href="blog.php">Writings</a>
        </h2>
    </li>
    <li>
        <h2>
            <a class="contact" href="contact.php">Contact me</a>
        </h2>
    </li>
  </ul>
</div>