/**
  * All the styles for the navbar
*/

.navbar {
  @include span-columns(12);
  @include omega();

  min-height: 150px;
  z-index: 10;
  background: color("navbar");
  position: fixed;
  top: -1000px;

  transition: top .2s ease-in-out;

  .close {
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: 2em;
    color: color("white");
  }

  .branding {
    @include span-columns(12);
    @include shift(0);
    margin-bottom: 25px;

    @media (min-width: 660px) {
      @include span-columns(7);
      @include shift(1);
    }
  }

  .full-view-only {
    display: none;

    @media (min-width: 660px) {
      display: block;
    }
  }

  .avatar {
    margin: 25px auto;
    height: 100px;
    width: 100px;
  }

  .copy {
    text-align: center;
    padding: 0 15px;

    font-family: font("navbar");
    color: color("navbar-text");

    a,
    a:visited {
      color: color("navbar-link");
    }

    h1,
    h2, {
      margin: 0;

      font-family: font("navbar");
      font-weight: normal;
    }

    h1 { margin-bottom: 25px; }

    h2 { color: darken("navbar-text", 75%); }
  }

  .mini-nav {
    @include span-columns(12);
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;

    li { list-style: none; }

    h3 {
      font-family: font("navbar");
      font-weight: normal;
      color: darken("navbar-text", 75%);
      font-size: 1.25em;
    }

    @media (min-width: 660px) {
      @include span-columns(4);
      padding: initial;
      margin-bottom: initial;
      margin-top: 50px;
    }
  }

  .mini-nav-item {
    font-family: font("mini-nav-item");
    font-weight: normal;
    display: inline-block;
    padding: 10px;
    width: 49%;
    border: color("navbar-menu") solid 1px;
    border-bottom: 0;
    margin-bottom: 0;

    @media (max-width: 215px) {
      width: 100%;
      display: block;
    }

    @media (min-width: 660px) {
      margin-bottom: 15px;
      width: 80%;
      border: 0;
      background-color: color("navbar-menu");
      display: block;
    }
  }

  .mini-nav-item-link,
  .mini-nav-item-link:visited {
    width: 100%;
    display: inline-block;
    color: color("navbar-text");

    @media (min-width: 660px) {
      color: color("white");
    }
  }

  &:target {
    top: 0;
  }
}
