/**
  * All the styles for the navbar
*/

.navbar {
  @include span-columns(12);
  background-color: lighten("navbar", 0);
  height: 120px;
  padding: 10px 35px;
}

.branding {
    color: lighten("navbar-text", 75);
    margin-bottom: 10px;

    h1 {
        font-size: 1.5em;
        display: inline;
    }

    p {
        display: none;
    }

    img {
        height: 30px;
        margin-right: 10px;
        vertical-align: sub;
    }

    @media (min-width: 300px) {
        h1 {
            font-size: 2em;
        }
    }

    @media (max-width: 240px) {
        h1 {
            font-size: 1em;
        }
    }
}

.menu {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;

    .about,
    .writings,
    .contact {
       text-decoration: none;
       font-size: 1em;
    }

    a,
    a:visited {
        color: darken("navbar-link", 50%);
    }

    li {
        display: block;
        position: relative;
        margin-right: 15px;

        &:last-child {
            margin: 0;
        }
    }

    h3 {
        transition: all .4s ease;

        $red: red(color("menu-hover"));
        $green: green(color("menu-hover"));
        $blue: blue(color("menu-hover"));

        background-color: rgba($red, $green, $blue, 0);
        background-size: 0%;
        border-radius: .2em;
        display: inline-block;

        padding: .25em;
        margin: 0;

        &:hover {
            $red: red(lighten("menu-hover", 75%));
            $green: green(lighten("menu-hover", 75%));
            $blue: blue(lighten("menu-hover", 75%));

            margin-left: 0;
            background-color: rgba($red, $green, $blue, 1);
        }
    }

    @media (min-width: 300px) {
        h3 {
            padding: .2em;
        }
    }

    @media(min-width: 350px) {
        h3 {
            padding: .5em .25em;
        }

        li {
            display: inline;
        }
    }
}
