/**
  * All the styles for the sidebar
*/

.sidebar {
  @include span-columns(3);
  @include omega();
  background-color: lighten("sidebar", 0);
  height: 100%;
  padding: 10px 35px;
}

.branding {
    text-align: center;
    color: lighten("sidebar-text", 75);

    h1 {
        font-size: 3em;
    }
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;

    .about,
    .writings,
    .contact {
       text-decoration: none;
       font-size: 1.5em;

       &::after {
           font-family: "FontAwesome";
           transition: all .4s ease;
           opacity: 0;
           margin-left: .5em;
       }
    }

    .about::after {
        content: "\f007";
    }

    .writings::after {
        content: "\f02d";
    }

    .contact::after {
        content: "\f0e0";
    }

    a,
    a:visited {
        color: darken("sidebar-link", 50%);
    }

    li {
        display: block;
        position: relative;
    }

    h3 {
        transition: all .4s ease;

        $red: red(color("menu-hover"));
        $green: green(color("menu-hover"));
        $blue: blue(color("menu-hover"));

        background-color: rgba($red, $green, $blue, 0);
        background-size: 0%;
        border-radius: .2em;
        display: inline-block;

        padding: .5em 1.25em;

        margin: 0 0 0 -1em;
    }

    h3:hover {
        $red: red(lighten("menu-hover", 75%));
        $green: green(lighten("menu-hover", 75%));
        $blue: blue(lighten("menu-hover", 75%));

        margin-left: 0;
        padding: .5em 1.75em .5em 1em;
        background-color: rgba($red, $green, $blue, 1);

        .about::after,
        .writings::after,
        .contact::after {
            margin-left: .75em;
            opacity: 1;
        }
    }
}
