/**
  * All the styles for the sidebar
*/

.sidebar {
  @include span-columns(12);
  background-color: lighten("sidebar", 0);
  height: 140px;
  padding: 10px 35px;

  @media (min-width: 800px) {
    @include span-columns(3);
    @include omega();
    height: 100%;
  }
}

.branding {
    color: lighten("sidebar-text", 75);
    margin-bottom: 10px;

    h1 {
        font-size: 2em;
        display: inline;
    }

    p {
        display: none;
    }

    img {
        height: 75px;
    }

    @media(min-width: 800px) {
        display: block;
        text-align: center;
        margin-bottom: 0;

        img {
            height: auto;
        }

        h1 {
            font-size: 3em;
            display: block;
        }

        p {
            display: block;
        }
    }
}

.menu {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;

    .about,
    .writings,
    .contact {
       text-decoration: none;
       font-size: 1em;
    }

    a,
    a:visited {
        color: darken("sidebar-link", 50%);
    }

    li {
        display: inline;
        position: relative;
        margin-right: 15px;

        &:last-child {
            margin: 0;
        }
    }

    h3 {
        transition: all .4s ease;

        $red: red(color("menu-hover"));
        $green: green(color("menu-hover"));
        $blue: blue(color("menu-hover"));

        background-color: rgba($red, $green, $blue, 0);
        background-size: 0%;
        border-radius: .2em;
        display: inline-block;

        padding: 0;
        margin: 0;
    }

    @media(min-width: 800px) {
        display: block;

        li {
            display: block;
            margin-right: 0;
        }

        .about,
        .writings,
        .contact {
            font-size: 1.5em;
        }

        .about {
            white-space: nowrap;
        }

        h3 {
            padding: .5em 1.25em;
            margin: 0 0 0 -1em;
        }

        h3:hover {
            $red: red(lighten("menu-hover", 75%));
            $green: green(lighten("menu-hover", 75%));
            $blue: blue(lighten("menu-hover", 75%));

            margin-left: 0;
            padding: .5em 1.75em .5em 1em;
            background-color: rgba($red, $green, $blue, 1);

            .about::after,
            .writings::after,
            .contact::after {
                margin-left: .75em;
                opacity: 1;
            }
        }
    }

    @media(min-width: 1226px) {
        .about,
        .writings,
        .contact {
            &::after {
                font-family: "FontAwesome";
                transition: all .4s ease;
                opacity: 0;
                margin-left: .5em;
            }
        }

        .about::after {
            content: "\f007";
        }

        .writings::after {
            content: "\f02d";
        }

        .contact::after {
            content: "\f0e0";
        }
    }
}
